journeymap/
crash-reports/
logs/
mods/mamiyaotaru/voxelmap.properties
mods/mamiyaotaru/
saves/
scb_resources/
screenshots/
.curseclient
.mixin.out/
.persistent/
shaderpacks/
knownkeys.txt
minecraftinstance.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
realms_persistence.json
reauth.toml
servers.dat
usercache.json
usernamecache.json
